<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trip Plans</title>
    <style>
    a{
        margin-left: 20px;
    }
    </style>
</head>
<body>
    <p>
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>
    </p>
    
    <h2>{{product.name}}</h2>

    <p>Who else wants this junk?</p>

    {% for wisher in wishers %}
    <p>{{wisher.username}}</p>
    {% endfor %}

</body>
</html>